{{ partial "main-head.html" . }}
<div class="site-wrap page-services">
    {{ partial "nav.html" . }}

    <div class="content-wrap">
        <section class="services clearfix">
            <h1 class="section-header subpage-header">{{ $.Site.Title }}</h1>

            <div class="services-list">
                {{ range .Site.Data.services }}
                    <div class="service">
                        <img class="service__image" src="{{ .image }}" alt="{{ .name }}" />
                        <h2 class="service__header">{{ index .name $.Site.Params.locale }}</h2>

                        <div class="service__description">
                            {{ ( index .description $.Site.Params.locale ) | markdownify }}
                        </div>

                        <div class="service__buzzwords">
                        Avainsanat: {{ range $index, $buzzword := (index .buzzwords $.Site.Params.locale ) }}{{if $index}},{{end}} <span class="service__buzzword">{{$buzzword}}</span>{{end}}
                        </div>
                    </div>
                {{ end }}
            </div>
        </section>
    </div> <!-- .content-wrap -->

{{ partial "main-tail.html" . }}
