{{ partial "main-head.html" . }}
<div class="site-wrap page-resources">
    {{ partial "nav.html" . }}

    <div class="content-wrap">
        <section class="resources clearfix">
            <h1 class="resources__header subpage-header section-header">{{ ( index $.Site.Data.translations $.Site.Params.locale ).people_slogan }}</h1>
            <div>
                {{ range .Site.Data.authors }}
                    <div class="resource">
                        <div class="resource__container">
                            <img class="resource__image" src="{{ .image }}" alt="{{ .name }}">
                            <div class="resource__features">
                                <h2 class="resource__header">{{ index .streetname $.Site.Params.locale }}</h2>
                                <ul class="resource__description">
                                    <li><a href="mailto:{{ .email }}">{{ .email }}</a></li>
                                    <li><a href="http://twitter.com/{{ .twitter }}">@{{ .twitter }}</a></li>
                                    <li><a href="https://fi.linkedin.com/in/{{ .linkedin}}">LinkedIn</a></li>
                                </ul>
                                <ul class="resource__description">
                                    {{ range $index, $buzzword := (index .buzzwords $.Site.Params.locale) }}
                                        <li>{{$buzzword}}</li>
                                    {{end}}
                                </ul>
                                {{if .cv}}
                                    <ul class="resource__description">
                                        <li><a href="{{ .Site.Params.contextPath }}{{ .cv }}">CV</a></li>
                                    </ul>
                                {{end}}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </section>
    </div> <!-- .content-wrap -->
{{ partial "main-tail.html" . }}
