{{ partial "main-head.html" . }}
<div class="site-wrap post-wrap page-blog">

    {{ partial "nav.html" . }}

    <article class="post">
        <div class="post__image" style="background-image: url({{ .Params.thumbnail }})"></div>
        <div class="post__container site-content">
            <div class="post__content">
                <header class="post__header">
                    <h1 class="post__title">{{ .Title }}</h1>
                    <small class="post__meta">
                        {{ .Date.Format "2.1.2006" }}, {{(index .Site.Data.authors .Params.author).name}}
                    </small>
                </header>
                <section class="post__body">
                    {{ .Content }}
                </section>
                <section class="post__author">
                    Artikkelin on kirjoittanut {{(index .Site.Data.authors .Params.author).name}}.
                    Aiheesta voi jatkaa keskustelua Twitterissä, kirjoittaja löytyy käyttäjätunnuksella
                    <a href="http://twitter.com/{{(index .Site.Data.authors .Params.author).twitter}}">
                        @{{(index .Site.Data.authors .Params.author).twitter}}
                    </a>.
                </section>
            </div>
        </div>
    </article>

{{ partial "blog-tail.html" . }}
