<!doctype html>
<html class="no-js" lang="fi">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ ( index $.Site.Data.translations $.Site.Params.locale ).tagline }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Alupark - {{ .Title }}" />
        {{ if .IsPage }}
        <meta property="og:site_name" content="Alupark blogi" />
        <meta property="og:description" content="{{ .Summary }}" />
        {{ else }}
        <meta property="og:site_name" content="Alupark Oy" />
        <meta property="og:description" content="{{ ( index $.Site.Data.translations $.Site.Params.locale ).tagline }}" />
        {{ end }}
        <title>
            Alupark - {{ .Title }}
        </title>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
