<div class="main-header__wrap">
    <header class="main-header">
        <a class="main-logo" href="/">
            <h1>Alupark</h1>
        </a>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item main-nav__item--home main-nav__item--maxi">
                    <a href="{{ .Site.Params.contextPath }}/">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_home }}</a>
                </li>
                <li class="main-nav__item main-nav__item--resources main-nav__item--maxi">
                    <a href="{{ .Site.Params.contextPath }}/ihmiset">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_people }}</a>
                </li>
                <li class="main-nav__item main-nav__item--services main-nav__item--maxi">
                    <a href="{{ .Site.Params.contextPath }}/palvelut">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_services }}</a>
                </li>
                {{ if ( index .Site.Data.translations .Site.Params.locale ).has_blog }}
                  <li class="main-nav__item main-nav__item--blog main-nav__item--maxi">
                      <a href="{{ .Site.Params.contextPath }}/blog">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_blog }}</a>
                  </li>
                {{ end }}
                <li class="main-nav__item main-nav__item--contact main-nav__item--fat main-nav__item--maxi">
                    <a href="{{ .Site.Params.contextPath }}/yhteys">{{ ( index .Site.Data.translations .Site.Params.locale ).contact_us }}!</a>
                </li>
                <li class="main-nav__item main-nav__item--mini">
                    <a class="js-toggle-menu" href="#">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_menu }}</a>
                </li>
            </ul>
        </nav>
    </header>
    <ul id="js-mobile-nav" class="mobile-nav">
        <li class="mobile-nav__item mobile-nav__item--close">
            <a class="js-toggle-menu" href="#">&times; {{ ( index .Site.Data.translations .Site.Params.locale ).nav_close }}</a>
        </li>
        <li class="mobile-nav__item">
            <a href="{{ .Site.Params.contextPath }}/">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_home }}</a>
        </li>
        <li class="mobile-nav__item">
            <a href="{{ .Site.Params.contextPath }}/ihmiset">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_people }}</a>
        </li>
        <li class="mobile-nav__item">
            <a href="{{ .Site.Params.contextPath }}/palvelut">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_services }}</a>
        </li>
        {{ if ( index .Site.Data.translations .Site.Params.locale ).has_blog }}
          <li class="mobile-nav__item">
              <a href="{{ .Site.Params.contextPath }}/blog">{{ ( index .Site.Data.translations .Site.Params.locale ).nav_blog }}</a>
          </li>
        {{ end }}
        <li class="mobile-nav__item">
            <a href="{{ .Site.Params.contextPath }}/yhteys">{{ ( index .Site.Data.translations .Site.Params.locale ).contact_us }}!</a>
        </li>
    </ul>
</div>
