{{ partial "main-head.html" . }}
<div class="background-image--not-found"></div>
<div class="site-wrap">
{{ partial "nav.html" . }}

    <div class="content-wrap">
        <h1 class="header--not-found">404</h1>
        <h2 class="header--not-found-description">Kohti ääretöntä ja sen yli!</h2>
    </div>

{{ partial "blog-tail.html" . }}
