{{ partial "main-head.html" . }}
<div class="background-image"></div>
<div class="site-wrap">
    {{ partial "nav.html" . }}

    <div class="content-wrap">
        <section class="hero">
            <div class="hero__site-description">
                <h1 class="hero__header">{{ .Title }}</h1>
                <a class="button-invert" href="/yhteys">{{ ( index $.Site.Data.translations $.Site.Params.locale ).contact_us }}</a>
            </div>
        </section>

        <section class="information site-section">
            <p class="information__body">
                {{ ( index $.Site.Data.translations $.Site.Params.locale ).tagline_html | markdownify }}
            </p>
        </section>

        <section class="manifesto site-section">
            <h1 class="section-header">{{ ( index $.Site.Data.translations $.Site.Params.locale ).promise }}</h1>
            <ul class="manifesto__items">
                {{ range ( index $.Site.Data.translations $.Site.Params.locale ).manifesto }}
                  <li class="manifesto__item">{{ ( index $.Site.Data.translations $.Site.Params.locale ).no }} {{ .no_this }}, <br class="manifesto__description-break">{{ ( index $.Site.Data.translations $.Site.Params.locale ).but }} <b>{{ .but_this }}</b>.</li>
                {{ end }}
            </ul>
        </section>

        {{ if ( index $.Site.Data.translations $.Site.Params.locale ).has_blog }}
          <section class="latest-from-blog site-section">
              <h1 class="latest-from-blog__header section-header">Viimeisin blogikirjoitus</h1>
              {{ range first 1 .Site.Sections.blog }}
                  <article class="post post--front-page">
                      <div class="post__content post__content--front-page">
                          <header class="post__header post__header--front-page">
                              <a class="post__header-link post__header-link--front-page" href="{{ .Page.RelPermalink }}">
                                  <h1 class="post__title post__title--front-page">{{ .Page.Title }}</h1>
                              </a>
                              <small class="post__meta post__meta--front-page">
                                  {{ .Page.Date.Format "2.1.2006" }}, {{(index .Page.Site.Data.authors .Page.Params.author).name}}
                              </small>
                          </header>
                          <section class="post__body post__body--front-page">
                              {{ .Page.Summary }}
                          </section>
                          {{ if .Page.Truncated }}
                              <a class="post__read-more post__read-more--front-page" href="{{ .Page.RelPermalink }}">Jatka lukemista…</a>
                          {{ end }}
                      </div>
                  </article>
              {{ end }}
          </section>
        {{ end }}

        <!-- <section class="portfolio site-section">
            <h1 class="portfolio__header section-header">Aiempia töitämme</h1>
            <a href="http://vjsport.fi">
                <img class="portfolio__image" src="/images/vjsport.jpg" alt="VJSport">
            </a>
            <h2 class="portfolio__case-header">VJSport.fi -uudistus</h2>
            <p class="portfolio__description">
                Suunnittelimme ja toteutimme uuden verkkosivuston VJSport-suunnistuskengille. Uudet sivut keskittyvät kenkämalliston esilletuomiseen sekä suunnistusyhteisön yhteentuomiseen Instagram- sekä Twitter-ominaisuuksien kautta. Sivusto toteutettiin WordPressillä, joten VJSporttilaisten on helppo ylläpitää sivuston sisältöä itsenäisesti.
            </p>
        </section> -->

        <section class="contact site-section" id="contact">
            <h1 class="section-header">{{ ( index $.Site.Data.translations $.Site.Params.locale ).contact_us }}!</h1>
            <p class="contact__description">
                {{ ( index $.Site.Data.translations $.Site.Params.locale ).send_email }} <a href="mailto:contact@alupark.fi"><b class="contact__detail">contact@alupark.fi</b></a> {{ ( index $.Site.Data.translations $.Site.Params.locale ).or_call }} <a href="tel:+358445783084"><b class="contact__detail" title="Antti Järvinen">+358 44 5783 084</b></a>.
            </p>
        </section>
    </div> <!-- .content-wrap -->
{{ partial "main-tail.html" . }}
