* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 150%;
    color: $body-text;
}

a {
    color: $body-text;

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover {
        background: $body-text;
        color: $invert-text;
    }
}

b {
    font-weight: $weight-normal;
    @media screen and (min-width: 480px) {
        padding: 0.1em 0.3em;
        color: $invert-text;
        background: $body-text;
    }
}

li {
    list-style-type: none;
}

.button-invert {
    color: $invert-text;
    text-decoration: none;
    border: 1px solid $invert-text;
    background: transparent;
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    font-weight: 300;
    @include responsive-font(2vw, 16px, 36px);
    letter-spacing: 1px;
    @media screen and (min-width: 550px) {
        letter-spacing: 2px;
    }

    &:hover {
        background: $invert-text;
        color: $body-text;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.visible {
    display: block !important;
}
