.contact-page__body {
    @include responsive-font($responsive-font-size, 16px, $max-font-size);
    margin: 2rem auto;
    max-width: $content-width;
    padding: 0 2rem;
}

.contact-page__info {
    text-align: center;
    font-size: 1.2rem;
}
