.background-image {
    position: absolute;
    height: 387px;
    width: 100%;
    background: url(../images/hero-2.jpg);
    background-size: 120%;
    background-position: center bottom;

    @media (min-width: 480px) {
        height: auto;
        position: fixed;
        background-size: cover;
        background-position: 50% bottom;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.hero {
    position: relative;
    height: 325px;
    color: $invert-text;
    text-align: center;
    @media (min-width: 480px) {
        height: 100vh;
    }
}
    .hero__site-description {
        padding-bottom: 2em;
        @media (min-width: 480px) {
            margin-top: 0;
            background: transparent;
        }
        @media (min-width: 1320px) {
            position: absolute;
            bottom: 5rem;
            left: 0;
            right: 0;
        }
    }

    .hero__header {
        font-weight: 300;
        // font-weight: $weight-bold;
        @include responsive-font(5vw, 20px, 120px);
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: 480px) {
            padding-top: 15vh;
            padding-bottom: 6vw;
        }
    }

.blog-hero {
    padding: 0 0 2rem 0;
    margin: 0 0 2rem 0;
    text-align: center;
    color: white;
    background: url(/images/hero-bg.jpg) 50% 50% no-repeat;
    background-size: cover;

    a {
        color: white;
    }
}

    .blog-hero__header {
        margin-bottom: 3rem;
    }
