.post-wrap {
    background: $medium-bg;
}
.post {
    margin: 0 0 4rem 0;
}
.post--front-page {
    margin: 0;
    a {
        &:hover {
            color: $body-text;
            background-color: darken($medium-bg, 10%);
        }
    }
}
    .post__image {
        position: relative;
        z-index: 50;
        background: gray 50% 50% no-repeat;
        background-size: cover;
        height: 40vw;
        min-height: 200px;
        max-height: 300px;
        filter: grayscale(70%);
    }
    .post__container {
        position: relative;
        z-index: 100;
        margin: 0 auto;
        background: white;

        @media screen and (min-width: 900px) {
            margin-top: -150px;
            width: 90%;
            max-width: 800px;
        }
    }
    .post__thumbnail {
        float: left;
        width: 20%;
        height: auto;
        margin: 0.4rem 0 0;
        padding: 2rem 0 2rem 2rem;
    }
    .post__content {
        padding: 2rem 1rem;
        max-width: $content-width;
        margin: 0 auto;
        @include responsive-font($responsive-font-size, $min-font-size, $max-font-size);
        @media screen and (min-width: 500px) {
            padding: 4rem;
        }
    }
    .post__content--front-page {
        padding: 0;
    }
    .post__header {
        text-align: center;
        color: hsl(0,0,30);
        margin-bottom: 1rem;
    }
        .post__header-link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: black;
            }
        }
        .post__title {
            margin-bottom: 0.6rem;
            line-height: 1.4;
            font-size: 1.75rem;
        }
        .post__title--front-page {
            font-weight: normal;
            font-size: 1.4rem;
        }
        .post__meta {
            text-transform: uppercase;
            opacity: 0.4;
        }
    .post__body {
        margin-bottom: 1rem;
        hyphens: auto;
        line-height: 150%;

        p, pre {
            margin-bottom: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 2rem 0 1rem 0;
            font-weight: normal;
        }

        img {
            max-width: 100%;
        }

        ol, ul {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }

        ul li {
            list-style-type: disc;
        }

        ol li {
            list-style-type: decimal;
        }

        code, pre {
            background-color: #e5e5e5;
        }

        blockquote {
            font-style: italic;
            padding-left: 1rem;
            border-left: 4px solid rgba(0, 0, 0, 0.2);
            font-size: 125%;
            line-height: 150%;
            opacity: 0.6;
        }
    }

    .post__author {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 75%;
        opacity: 0.5;
        line-height: 1.5;
    }
