.resources {
    margin-bottom: 3rem;
}
    .resource {
        padding: 2rem 0;
        overflow: hidden;
        &:nth-child(2) {
            background: $medium-bg;
        }
    }
        .resource__container {
            margin: 0 auto;
            // width: 500px;
        }
            .resource__image {
                display: block;
                width: 20vw;
                min-width: 200px;
                border-radius: 50%;
                margin: 0 auto;
            }
            .resource__features {
            }
                .resource__header {
                    @include responsive-font($text-size, 12px, 24px);
                    font-weight: $weight-black;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 1rem 0;
                    text-align: center;
                }
                .resource__description {
                    @include responsive-font($text-size, 12px, 18px);
                    line-height: 1.4;
                    margin-bottom: 1em;
                    text-align: center;
                }

@media screen and (min-width: 640px) {
    .resource__container {
        width: 500px;
    }
        .resource__image {
            float: left;
        }
        .resource__features {
            float: left;
            padding-left: 2rem;
        }
            .resource__header {
                margin-top: 0;
                text-align: left;
            }
            .resource__description {
                text-align: left;
            }
}

@media screen and (min-width: 1050px) {
    .resource {
        float: left;
        width: 33%;
        &:nth-child(2) {
            background: $default-bg;
        }
    }
        .resource__container {
            width: auto;
        }
            .resource__image {
                margin: 0 auto 1rem auto;
                float: none;
            }
            .resource__features {
                float: none;
                padding-left: 0;
            }
                .resource__header {
                    text-align: center;
                }
                .resource__description {
                    padding: 0 3rem;
                    text-align: center;
                }
}
