.services {}
    .service {
        padding: 3rem 0;
    }
    .service:nth-child(2),
    .service:nth-child(4) {
        background: $medium-bg;
    }
    .service__image {
        display: block;
        width: 20vw;
        min-width: 200px;
        border-radius: 50%;
        margin: 0 auto 1rem auto;
    }
    .service__header {
        margin-bottom: 0.5rem;
        padding: 0 3rem;
        @include responsive-font($text-size, 12px, 24px);
        font-weight: $weight-black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .service__description, .service__buzzwords {
        padding: 0 3rem;
        @include responsive-font($text-size, 12px, 18px);
        line-height: 1.4;
        p {
            margin-bottom: 1rem;
        }
    }
    .service__buzzword {
        font-weight: bold;
    }

@media screen and (min-width: 760px) {
    .service {
        float: left;
        width: 50%;
    }
        .service:nth-child(2),
        .service:nth-child(3) {
            background: $medium-bg;
        }
        .service:nth-child(4) {
            background: $default-bg;
        }
    .service__image {
        margin: 0 auto 3rem auto;
    }
    .service__header {
        text-align: center;
        margin-bottom: 1.6rem;
    }
}
