.main-header__wrap {
    @media screen and (min-width: 480px) {
        padding-bottom: 62px;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $body-text;

    @media screen and (min-width: 480px) {
        position: fixed;
        z-index: 9000;
        left: 0;
        right: 0;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

    .main-logo {
        color: white;
        font-weight: $weight-black;
        color: $invert-text;
        text-transform: uppercase;
        letter-spacing: 4px;
        display: inline-block;

        h1 {
            font-size: 1.5rem;
        }
    }

    .main-nav__items {
        list-style-type: none;
    }

    .main-nav__item {
        display: none;
        margin-right: 1rem;
        padding: 0 0.4rem;
        font-size: 75%;
        letter-spacing: 1px;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: white;
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
        .page-services .main-nav__item--services,
        .page-resources .main-nav__item--resources,
        .page-blog .main-nav__item--blog,
        .page-contact .main-nav__item--contact {
            background: white;
            a {
                color: $body-text;
                &:hover {
                    background: white;
                }
            }
        }

        .main-nav__item--fat {
            font-weight: bold;
        }

        .main-nav__item--maxi {
            display: none;
        }

        .main-nav__item--mini {
            display: inline-block;
        }

        @media screen and (min-width: 750px) {
            .main-nav__item--maxi {
                display: inline-block;
            }
            .main-nav__item--mini {
                display: none;
            }
        }

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background: lighten($dark-bg, 10%);

    @media screen and (min-width: 480px) {
        padding-top: 62px;
    }

    @media screen and (min-width: 750px) {
        display: none !important;
    }
}
    .mobile-nav__item {
        text-align: center;

        a {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            display: block;
            padding: 0.5rem;
            color: $invert-text;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 75%;
        }

        &:last-child a {
            border: 0;
        }
    }

    .mobile-nav__item--close {
        background-color: $dark-bg;
    }
