.site-footer {
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.5rem;
}

.front-page-footer {
    position: relative;
    height: 20vh;
    text-transform: uppercase;
    text-align: center;
    color: $invert-text;
    background: url(../images/footer.jpg);
    background-size: cover;
    background-position: 50% 0%;
}
    .front-page-footer__header {
        position: absolute;
        bottom: 4rem;
        left: 0;
        right: 0;
        @include responsive-font(2vw, 16px, 22px);
        letter-spacing: 5px;
        font-weight: $weight-black;
    }
