$color__body-text: hsl(0,0,30);

$content-width: 800px;

$default-bg: white;
$dark-bg: #272727;
$medium-bg: lighten($dark-bg, 75%);

$invert-text: #ffffff;
$body-text: #272727;

$global-padding: 2rem;
$section-padding: $global-padding 0;
$text-size: 16px;

$weight-normal: 400;
$weight-bold: 700;
$weight-black: 800;

$hero-height: 270px;
$hero-margin: 200px;

$responsive-font-size: 2vw;
$min-font-size: 14px;
$max-font-size: 18px;
