@import "variables";
@import "mixins";
@import "normalize";
@import "base";

@import "site-header";
@import "site-footer";
@import "hero";
@import "post";
@import "contact";
@import "services";
@import "resources";

// Wrap all contents in a relative wrapper to
// make the large BG stay in the background
.site-wrap {
    position: relative;
    z-index: 20;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.site-section {
    padding: $section-padding;
    background: $default-bg;
}
    .section-header {
        padding: 0 1rem;
        text-transform: uppercase;
        font-weight: $weight-black;
        letter-spacing: 1px;
        @include responsive-font($global-padding / 2, 20px, 50px);
        text-align: center;
        margin-bottom: $global-padding;
    }

.subpage-header {
    padding: 1rem;
    margin: 0;
    background: darken($medium-bg, 65%);
    color: white;
}

.information {
    padding: $global-padding;
    background: $dark-bg;

    .information__body {
        @include responsive-font($responsive-font-size, $min-font-size, $max-font-size);
        color: white;
        font-weight: 200;
        text-align: center;
        max-width: $content-width;
        margin: 0 auto;
    }
}

  /////////////////////////////////////////////////
 //////// MANIFESTO ///////////////////////////////
//////////////////////////////////////////////////
.manifesto {
    padding: $global-padding;
}
    .manifesto__items {
        padding: 0;
        @include responsive-font($responsive-font-size, $min-font-size, $max-font-size);
        line-height: 1.5;
        text-align: center;
    }
        .manifesto__item {
            margin-bottom: 0.4em;
        }

@media (min-width: 480px) {
    .manifesto__item {
        margin-bottom: 0;
    }
    .manifesto__description-break {
        display: none;
    }
}

.latest-from-blog {
    padding: 2rem;
    background: $medium-bg;
}

  //////////////////////////////////////////////////
 //////// PORTFOLIO ///////////////////////////////
//////////////////////////////////////////////////
.portfolio {
    background: $dark-bg;
    color: $invert-text;
}
    .portfolio__case-header {
        text-transform: uppercase;
        font-weight: $weight-black;
        letter-spacing: 1px;
        @media screen and (min-width: 550px) {
                letter-spacing: 2px;
        }
        @include responsive-font(2vw, 16px, 36px);
        margin: 2vw 0;
        text-align: center;
    }
    .portfolio__image {
        display: block;
        margin: 0 auto;
        max-width: 60vw;
    }
    .portfolio__description {
        max-width: 90%;
        margin: 0 auto;
        @media (min-width: 580px) {
            max-width: 60vw;
        }
    }

  //////////////////////////////////////////////////
 //////// CONTACT /////////////////////////////////
//////////////////////////////////////////////////
.contact {
    padding: 2rem;
    @include responsive-font($responsive-font-size, $min-font-size, $max-font-size);
}
    .contact__description {
        margin: 0 auto;
        max-width: $content-width;
        text-align: center;
    }

    .contact__detail {
        white-space: nowrap;
    }

    .contact__koodia-suomesta {
        text-align: center;
    }

    .contact__koodia-suomesta-image {
        max-width: 60vw;

        @media (min-width: 480px) {
            max-width: 30vw;
        }
    }

//////////////////////////////////////////////////
//////// CV //////////////////////////////////////
//////////////////////////////////////////////////
.cv {
    font-family: serif;

    padding: 3rem;

    h2 {
        border-bottom: 5px double black;
    }

    h3 {
        border-bottom: 1px solid black;
    }

    h1, h2, h3, p, ul {
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 2rem;
    }

    li {
        list-style-type: square;
    }
}


//////////////////////////////////////////////////
//////// 404 /////////////////////////////////////
//////////////////////////////////////////////////
.background-image--not-found {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/jump.jpg);
    background-size: cover;
    background-position: 50% 35%;

    @media (min-width: 480px) {
        height: auto;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.header--not-found {
    text-align: center;
    margin-top: 15vh;
    font-size: 30vw;
    line-height: 30vw;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.header--not-found-description {
    text-align: center;
    font-size: 6vw;
    line-height: 6vw;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
