{{ partial "main-head.html" . }}
<div class="site-wrap page-contact">
    {{ partial "nav.html" . }}

    <div class="content-wrap">
        <section class="contact-page">
            <h1 class="subpage-header section-header">{{ ( index $.Site.Data.translations $.Site.Params.locale ).contact_us }}!</h1>
            <p class="contact-page__body">
                {{ ( index $.Site.Data.translations $.Site.Params.locale ).contact_action }}
            </p>
            <h2 class="contact-page__info">
                <a href="mailto:contact@alupark.fi">contact@alupark.fi</a>
            </h2>
            <h2 class="contact-page__info">
                <a href="tel:+358445783084" title="Antti Järvinen">+358 44 5783 084</a>
            </h2>
            <h2 class="contact-page__info">
                <a href="https://twitter.com/WeAreAlupark">@WeAreAlupark</a>
            </h2>
            <div class="contact__koodia-suomesta">
                <img class="contact__koodia-suomesta-image" src="/images/koodiasuomesta.png" alt="Koodia suomesta" />
            </div>
        </section>
    </div> <!-- .content-wrap -->

{{ partial "main-tail.html" . }}
