{{ partial "main-head.html" . }}
<div class="site-wrap post-wrap">

    {{ partial "nav.html" . }}

    <section class="posts site-content">
      {{ range .Data.Pages }}
        <article class="post">
            <div class="post__image" style="background-image: url({{ .Params.thumbnail }})"></div>
            <div class="post__container site-content">
                <div class="post__content">
                    <header class="post__header">
                        <a class="post__header-link" href="{{ .RelPermalink }}">
                            <h1 class="post__title">{{ .Title }}</h1>
                        </a>
                        <small class="post__meta">
                            {{ .Date.Format "2.1.2006" }}, {{(index .Site.Data.authors .Params.author).name}}
                        </small>
                    </header>
                    <section class="post__body">
                        {{ .Summary }}
                    </section>
                    {{ if .Truncated }}
                      <a class="post__read-more" href="{{ .RelPermalink }}">Jatka lukemista…</a>
                    {{ end }}
                </div>
            </div>
        </article>
      {{ end }}
    </section>

{{ partial "blog-tail.html" . }}
